<app-top-bar (childToParent)='childToParent($event)'></app-top-bar>

<div id='container'>
    <div *ngIf='!loc' id='search'>
        <h1>Ingresar la ciudad</h1>
    </div>


    <mat-tab-group *ngIf='loc'>
        <mat-tab label="Tiempo Actual">
            <app-tiempo-actual [childToMaster]=loc2></app-tiempo-actual>
        </mat-tab>
        <mat-tab label="Pronostrico">
            <app-pronostrico></app-pronostrico>
        </mat-tab>
        <mat-tab label="Indice UV">
            <app-uv></app-uv>
        </mat-tab>
    </mat-tab-group>

</div>